@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    border: 0;
  }

  body {
    background-color: #f2dcdc;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    margin: 0;
  }
  
  img {
    width: 100%;
  }

  .App {
    text-align: center;
    margin-top: 15%;
  }

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .exampleSlider {
    width: 100%;
    height: 25vh;
    padding: 0;
  }

  .exampleSlider li {
    width: 20%;
    margin: 2.5%;
    list-style-type: none;
    float: left;
  }

  .exampleSlider li img {
    width: 100%;
  }
  .header{
    background-color: #e10f0f;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
  }

  .header .left{
      background-color: #e10f0f;
      float: left;
      width: 25%;
      font-size: 1.5em;
      text-align: center;
      line-height: 50px;
  }

  .header .right {
      background-color: #e10f0f;
      float: right;
      width: 45%;
      font-size: 1.5em;
      text-align: center;
      line-height: 50px;
  }

  .shoppingCart {
    margin: 0 10% 0 10%;
  }

  .user {
    margin-left: 10% 
  }

  .header h3{
      position: absolute;
      left: 46%;
      margin: 0;
      line-height: 50px;
      background-color: #e10f0f;
  }

  .nav {
    position: absolute;
    top: 0;
    height: 100%;
    width: 49.9%;
    background-color: #e10f0f;
    color: white;
  }

  .nav img {
    width: 100%;
  }

  .nav ul {
    margin: 0;
    padding: 0;
  }

  .banner img {
    width: 100%;
    height: 25vh;
    margin-top: -15px;
  }
  
  .catList {
    list-style-type: none;
    border: 1px solid white;
    padding: 1% 0 1% 0;
  }

  .listItem .item {
    border: 1px solid black;
    width: 80%;
    margin: 5% auto;
  }
  
  .initialPage {
    width: 80%;
    list-style-type: none;
    margin: 5% auto;
    padding: 1%;
    border-radius: 5%;
    background-color: white;
    box-shadow: 5px 5px 5px #aaaaaa;
  }

  .initialPage img {
    margin-top: 10px;
    width: 96%;
  }

  .verMais {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 45px;
    font-weight: bold;
    font-size: 2em;
    color: white;
    background-color: #e10f0f;
  }

  .footer {
    position: relative;
    bottom: 0;
    margin-top: 30px;
    height: 5vh;
    line-height: 5vh;
    background-color: #e10f0f;
    color: white;
  }

  .fullPage {
    padding: 5% 0 5% 0;
  }

  .fullPage h3 {
    margin-bottom: 25px;
    font-size: 2em;
  }

  .fullPage img {
    width: 90%;
  }

  .btn-close {
    position: absolute;
    right: 5%;
    top: 10%;
  }
  
  .qtdInput {
    border: 1px solid black;
    outline: none;
    width: 5%;
    margin: 0 5% 0 5%;
    text-align: center;
  }
}